/* CSS Quiz - 1 */


/* How to place the last <div> on top of all the other <div>.? */


/* 
<div class = "first" ></div>
<div class = "second" ></div>
<div class = "third" ></div> */


/* common method */

.third {
    position: absolute;
}

.parent {
    display: flex;
    flex-direction: column;
}

.last-child {
    order: -1
}

.third {
    display: flex;
}


/* CSS Quiz - 2 */


/* center a div using Position  */

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}