/* CSS Quiz - 1 */


/* How to place the last <div> on top of all the other <div>.? */


/* 
<div class = "first" ></div>
<div class = "second" ></div>
<div class = "third" ></div> */


/* common method */

.third {
    position: absolute;
}

.parent {
    display: flex;
    flex-direction: column;
}

.last-child {
    order: -1
}

.third {
    display: flex;
}


/* CSS Quiz - 2 */


/* center a div using Position  */

.parent {
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* CSS Quiz - 3 */


/* Box reflection with CSS  */


/* ğ—¬ğ—¼ğ˜‚ ğ—°ğ—®ğ—» ğ—¿ğ—²ğ—³ğ—¹ğ—²ğ—°ğ˜ ğ—¶ğ—ºğ—®ğ—´ğ—² ğ˜‚ğ˜€ğ—¶ğ—»ğ—´ ğ—–ğ—¦ğ—¦*/

img {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}